<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BridgeDetectSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BridgeDetectSystem.Properties.Settings>
            <setting name="DataBaseConnection" serializeAs="String">
                <value>server=localhost\SQLEXPRESS;database=BridgeDetect;Integrated Security=True;</value>
            </setting>
        </BridgeDetectSystem.Properties.Settings>
    </applicationSettings>
</configuration>